<%inherit file="../base.html" />

<!-- <h3>Assignments</h3>
<ul>
  <li><a href="assignments/add">Add</a></li>
  <li><a href="#">*Show</a></li>
  <li><a href="#">*Remove</a></li>
</ul>
 -->

<h3>Users</h3>
<ul>
  <li><a href="users/add">Add</a></li>
  <li><a href="users">All</a></li>
  <li><a href="users/show">Show</a></li>
  <li><a href="users/remove">Remove</a></li>
</ul>

<h3>Courses</h3>
<ul>
  <li><a href="courses/add">Add</a></li>
  <li><a href="courses">All</a></li>
  <li><a href="courses/show">Show</a></li>
  <li><a href="courses/remove">Remove</a></li>
</ul>

