<%inherit file="../base.html" />
<%block name="title">
  <title>${page_title}</title>
</%block>

<h2>Assignments for ${student}</h2>
<ul>
  % for assignment in assignments:
    <li><a href="${student}/${assignment}">${assignment}</a></li>
  % endfor
</ul>
