<%def name="listErrors(errors)">
%if len(errors) > 0:
<div class="error">
  <ul>
    %for e in errors:
      %if len(e) > 0:
        <li>${e}</li>
      %endif
    %endfor
  </ul>
</div>
%endif
</%def>

<% _debug = context.get('_debug', True) %>
<% _navigation = context.get('_navigation', True) %>

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, user-scalable=no" />

  <title>${page_title}</title>

  <script src="http://code.jquery.com/jquery-2.0.0.min.js"> </script>
  <script src="/assets/js/common.js"> </script>

  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less">
  <link rel="icon" type="image/ico" href="/assets/img/favicon.ico">
  <%block name="includes">
  </%block>

  <script src="/assets/js/less.js"> </script>
</head>
<body>
  % if _navigation:
  <header>
    <div class="container">
      <ul class="nav">
        <!-- Tuples are of the form (:uri, :controller, :label) -->
        <%
          menus = [("/", "", "Home"),
                    ("/labs", "labs", "Labs"),
                    ("/projects", "projects", "Projects"),
                    ("/grades", "grades", "Grades")]

          if _user != None:
            menus.append(("/admin", "admin", "Admin Menu"))
        %>
        %for i in menus:
          <% kind = "active" if _active == i[1] else "" %>
          <li><a href="${i[0]}#!watch" class="${kind}">${i[2]}</a>
        %endfor
      </ul>
      <ul class="nav right">
        <%
          menus = []
          if _user != None:
            menus.append(("/profile", "profile", _user["FullName"]))
            menus.append(("/auth/logout", "auth", "Logout"))
          else:
            menus.append(("/auth/login", "auth", "Login"))
        %>

        %for i in menus:
          <% kind = "active" if _active == i[1] else "" %>
          <li><a href="${i[0]}#!watch" class="${kind}">${i[2]}</a>
        %endfor
      </ul>
    </div>
  </header>
  % endif
  <div class="container">
    <div class="content">
      ${next.body()}
    </div>

    <footer>
      %if _debug:
      <p>${_request.path_info} | Active: '${_active}'</p>
      <p>${_session._data}</p>
      %endif
      &copy; Michigan State Univeristy 2013
    </footer>
  </div>
</body>

<%block name="scripts">
</%block>

</html>
