<html>
<head>
  <%block name="title">
    <title>Grading System</title>
  </%block>

  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <link rel="icon" type="image/ico" href="/assets/img/favicon.ico">
</head>
<body>
  <div class="container">
    <header>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/grades/">Grade Assignments</a></li>
        <li><a href="/admin/">Admin Stuff</a></li>
        % if _logged_in:
          <li>Logged in as: ${_user['FirstName']}</li>
          <li><a href="/auth/logout/">Log out</a></li>
        % else:
          <li><a href="/auth/login/">Log in</a></li>
        % endif
      </ul>
    </header>

    <div class="content">
      ${next.body()}
    </div>

    <footer>
      <a href="/milestones/">Development Milestones</a>
    </footer>
  </div>
</body>

<%block name="scripts">
</%block>

</html>
