<%inherit file="../base.html" />
<%block name="title">
  <title>Milestones | Grading System</title>
</%block>

<form action="/milestones">
  % if parentId:
    <input type="hidden" name="parentId" value="${parentId}">
  % endif
  <input type="text" name="new_mile">
  <input type="submit" value="Add milestone">
</form>